<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aq.ExpressionJsonSerializer.Portable" version="0.1.0" targetFramework="portable40-net45+sl5" />
  <package id="Fody" version="2.0.6" targetFramework="portable40-net45+sl5+win8+wp8" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable40-net45+sl5+win8+wp8" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable40-net45+sl5" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable40-net45+sl5+win8+wp8" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable40-net45+sl5" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="portable40-net45+sl5" />
  <package id="PropertyChanged.Fody" version="1.53.0" targetFramework="portable40-net45+sl5+win8+wp8" developmentDependency="true" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="portable40-net45+sl5" />
  <package id="ThirtyFiveG.Commons" version="0.1.0" targetFramework="portable40-net45+sl5" />
  <package id="ThirtyFiveG.DbEntity.Projection" version="0.1.0" targetFramework="portable40-net45+sl5" />
  <package id="ThirtyFiveG.Validation" version="0.1.0" targetFramework="portable40-net45+sl5" />
</packages>